<!-- Songs Container -->
<div id="main-container">
  <div class ="song-container" ng-repeat="song in songs track by $index" ng-click="passToPlay($index)">
    {{ song.title }}
  </div>
  <!-- share button to make current queue live -->  
  <button id="share" class="share btn btn-default" type="submit" value="SHARE" ng-click="share()">Share!</button>

</div>


 <!-- shareRequestModal -->
<div class="modal fade" id="shareRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Share Queue</h4>
      </div>
      <div class="modal-body">
        <form id="queueForm">
          <div class="input-group">
            <span class="input-group-addon">Queue Name: </span>
            <input type="text" class="queueName form-control" placeholder="Queue Name" ng-model="queueName">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Passphrase: </span>
            <input type="text" class="passPhrase form-control" placeholder="simple passphrase" ng-model="passphrase">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="shareNow btn btn-default" data-dismiss="modal" ng-click="shareRequestModal()">Share Now!</button>
      </div>
    </div>
  </div>
</div>


 <!-- shareResponseModal -->
<div class="modal fade" id="shareResponseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Tweet It!</h4>
      </div>
      <div class="modal-body">
        <p>Here's the link to your queue: </p>
        <div>{{ shareLink }}</div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dev.twitter.com" data-url="http://localhost/share/" data-lang="en">Tweet It!</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>