<div id="search-container">
  <div class='searchKeyword' ng-model="searchKeyword"></div>
  <button class='queueButton btn btn-default' ng-click="back()">Return to Queue</button>
  <div class="song-container" ng-repeat="song in SearchService.searchResults track by $index" ng-click="play(song, 's')">
    {{ song.service}} | {{ song.artist ? song.artist + " - " : "" }} {{ song.title }}
    <button class="thumbs-up" ng-click="voteUp($index)">Vote Up</button>
    <span class="dropdown dropdown-menu-right">
      <a class="dropdown-toggle"><button class="addToQueue btn btn-default">Add To ...</button></a>
      <ul class="dropdown-menu">
        <li><a ng-click="addTo('queue', song, $event);">Queue</a></li>
        <li ng-repeat="choice in UserService.user.playlists">
          <a ng-click="addTo(choice, song, $event);">{{ choice.name }}</a>
        </li>
      </ul>
    </span>
  </div>
</div>