<!-- Songs Container -->
<div id="share-container">
  <div class="container row share-title">
    <div class="column-top on-3">
      <h3 class="share-view-welcome">Welcome to Share View</h3>
    </div>
    <div class="column-top on-1">
      <a class="md-trigger btn clone" ng-click="clone()" href="#">Clone</a>
    </div>
  </div>

  <div class="container-row">
    <ul class="share-view-songs">
      <li class="song share-view-song" ng-repeat="song in QueueService.queue.songs track by $index" ng-class="{selectedSong: song === currentSong}" ng-hide="QueueService.queue.currentSong > $index">
        <span class="icon {{ song.service }} column"></span>
        <div class="song-info column-top">
          <h3 class="column">{{ song.artist ? song.artist : "" }}</h3>
          <span>{{song.artist ? "  -  "  : "" }}</span>
          <h3 class="song-name column">{{ song.title }}</h3>
          <span class="time column">{{ fixTime(song.duration) }}</span>
        </div>
        <button ng-class="{accentColor: QueueService.votedSongs[song.serviceId]}" ng-disabled="QueueService.votedSongs[song.serviceId]" class"column vote-up" ng-click="voteUp($event, $index)">Vote Up <sup class="badge">{{ song.votes }}</sup></button>
      </li>
    </ul>
  </div>
</div>
