<html>
<head>
  <title>ammo</title>
  <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/bower_components/ngprogress/ngProgress.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body ng-app='ammoApp' ng-controller="FrameController">

  <!-- Nav Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ammo</a>
      </div>

      <button class="btn btn-default navbar-right" ng-click="login()">{{ UserService.user.loggedIn ? "Log Out" : "Log In" }}</button>

      <form id="search" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input ng-model="userInput" type="text" class="form-control" placeholder="Search">
        </div>
        <button ng-click="search(userInput)" class="btn btn-default">Search</button>
      </form>
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content" class="col-md-9" ng-class="{true:'col-md-12', false:'col-md-9'}[isMobile && isShareView]">
  <div ng-view></div> <!-- Views are loaded here -->
  </div>

  <script src="https://www.rdio.com/api/api.js?helper=%2Fviews%2Fhelper.html&client_id=hrMFxa4bS9bb9Z09xcHJXw"></script>

  <script src="/bower_components/socket.io-client/dist/socket.io.js"></script>
  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/bootstrap-css/js/bootstrap.js"></script>
  <script src="/bower_components/ngprogress/build/ngProgress.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>

  <script src="/scripts/shareApp.js"></script>
  <script src="/scripts/oauth.min.js"></script>
  <script src="/scripts/services/parser.js"></script>
  <script src="/scripts/services/search.js"></script>
  <script src="/scripts/services/queue.js"></script>
  <script src="/scripts/services/user.js"></script>
  <script src="/scripts/services/scraper.js"></script>
  <script src="/scripts/controllers/shareFrame.js"></script>
  <script src="/scripts/controllers/queue.js"></script>
  <script src="/scripts/controllers/search.js"></script>
  <script src="/scripts/controllers/share.js"></script>
  <script src="/scripts/controllers/playlist.js"></script>
</body>
</html>