body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player {
  color: #bbbbbb;
  position: fixed;
  bottom: 0;
  height: 85px;
  width: 100%;
  border-top: solid #bbbbbb;
  border-top-width: 2px;
  background-color: white;
}

table {
  overflow: auto;
}

i {
  margin: 5px;
  margin-top: 10px;
}

#main-container, #search-container {
  margin-top: 75px;
  overflow-y: scroll;
}

#main-container :first-child, #search-container :first-child {
  border-top: 1px solid #ddd;
}

#main-container :nth-child(odd), #search-container :nth-child(odd) {
  background-color: #f9f9f9;
}

.song-container {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}

.song-container:hover{
  background-color: #f5f5f5;
}

.example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}
 
.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}
 
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.addToQueue {
  float: right;
  height: 40px;
}

.songInfo {
  width:80%;
  float:left;
}