@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700)";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background: url(../img/bg.jpg) top center repeat;
  background-size: 150% 150%;
}

body {
/*  background-size: cover;*/
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  cursor: pointer;
}

.column {
  display: inline-block;
  vertical-align: middle;
}

.column-top {
  display: inline-block;
  vertical-align: top;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.page-content {
  width: 100%;
}

.on-4 {
  width: 20%;
}

.on-2 {
  width: 49%;
}

.on-3 {
  width: 70%;
}

.on-1 {
  width: 28%;
}

.text-center {
  text-align: center;
}

.btn {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px 20px;
  border-radius: 3px;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}

.head{
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
}
.head input {
  background: #232323;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 20px 25px;
  border-radius: 4px;
  color: #fff;
}
.head input:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.sidebar {
  width: 20%%;
  float: left;
/*  height: 500px;*/
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.sidebar h3 {
  color: #fff;
  margin: 10px 0px;
}
.sidebar .playlist-list {
  padding: 30px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar .queue-songs {
  padding: 30px 20px;
  overflow-x:hidden;
  white-space: nowrap;
    padding:0 10px;

}

.sidebar .now-playing {
  color: #fff;
  font-weight: bold;
  overflow-x:hidden;
  white-space: nowrap;
}

.page-content {
  width: 80%;
  float: right;
}
.page-content .playlist-name, .share-view-welcome {
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}
.page-content .author, .page-content .songs-number {
  color: #fff;
  margin-right: 10px;
}
.page-content .author a, .page-content .songs-number a {
  color: #fff;
  font-weight: 600;
}
.page-content .search {
  background: #232323;
  border: 0;
  outline: 0;
  padding: 20px 25px;
  border-radius: 4px;
  color: #fff;
  width: 70%;
  margin-top: 20px;
}
.page-content .share, .clone{
  float: right;
  margin-top: 20px;
}
.page-content .songs {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}
.page-content .song {
  background: #181515;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 3px 0px;
}
.page-content .song:hover {
  opacity: 0.8;
  cursor: pointer;
}
.page-content .song .icon {
  width: 50px;
  height: 50px;
}
.page-content .song .song-info {
  margin-top: 14px;
  position: relative;
  width: 70%;
}
.page-content .song .rdio {
  background: url(../img/rdio.png) center center no-repeat;
  background-size: 39px 39px;
}
.page-content .song .youtube {
  background: url(../img/youtube.png) center center no-repeat;
  background-size: 39px 39px;
}
.page-content .song .soundcloud {
  background: url(../img/soundcloud.png) center center no-repeat;
  background-size: 45px 39px;
}
.page-content .song .time {
  float: right;
}
.page-content .song h3 {
  font-weight: 300;
}
.page-content .song a, .page-content .song button {
  background: #262626;
  position: absolute;
  right: 0;
  top: 0;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
  bottom: 0;
  border: none;
  font-size: 1em;
}
li.song.ng-scope.selectedSong {
  background: rgb(32, 62, 130);
  opacity: 0.8;
  /*color: white;*/
}
.player {
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: #171717;
  color: #fff;
}
.player .artwork {
  width: 100%;
  height: 300px;
  background: #171717;
}
.player .song-player {
  width: 79%;
}
.player .song-info {
  text-align: center;
  margin: 50px auto 0px auto;
  display: block;
}
.player .song-info h3 {
  font-weight: 300;
}
.player .song-info .song-name {
  font-weight: 600;
}
.player .progressbar {
  background: #2b2b2b;
  width: 80%;
  margin: 10px auto;
  height: 5px;
  overflow: hidden;
}
.player .progress-line {
/*  background: #53b225;*/
  width: 0%;
  height: 5px;
  display: block;
}
.player .time {
  width: 80%;
  margin: 0 auto;
}
.player .time span:last-child {
  float: right;
}
.player .controls {
  width: 180px;
  margin: 0 auto;
}
.player .controls .back, .player .controls .next, .player .controls .play, .player .controls .loop, .player .controls .shuffle {
  display: inline-block;
  vertical-align: middle;
}
.player .controls .back:hover, .player .controls .next:hover, .player .controls .play:hover, .player .controls .loop:hover, .player .controls .shuffle:hover {
  opacity: 0.5;
}

.fa {
  color: white;
/*  width: 20px;
  height: 20px;
*/}

.shuffle {
  padding-left: 6px;
}

.loop {
  padding-right: 6px;
}

.searchSpinner {
  text-align: center;
  padding-top: 100px;
}

.player .controls .selected {
  color: #53b225;
}

.page-content .share-view-song:hover {
  cursor: default;
}

.share-view-page-content{
  width: 90%;
  float: none;
  margin: auto;
}

.share-title {
  margin-bottom: 1.5em;
}

.song button {
  cursor: pointer;
  width: 150px;
}

@media (max-width: 600px) {
  .column {
    display: block;
    text-align: center;
  }

  .on-2, .on-4, .on-3, .on-1 {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .page-content {
    width: 100%;
    float: right;
  }

  .song .column {
    display: inline-block;
  }
}

.bottom-pad{
  padding-bottom: 200px;
}

/* MODAL STUFF */

.md-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.md-content{
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
.md-content-inner{
  padding-bottom: 30px;
}

.md-close{
  padding: 15px;
  background-color: black;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(35, 35, 35, 0.8));
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Effect 5: newspaper */
.md-show.md-effect-5 ~ .md-overlay {
    background: rgba(35, 35, 35, 0.8);
}

.md-effect-5 .md-content {
    transform: scale(0) rotate(720deg);
    opacity: 0;
    transition: all 0.5s;
}

.md-show.md-effect-5 .md-content {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

/*END MODAL CSS*/


.tb {
  background: #232323;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
}

.createPlaylist{
  margin: 7px 0;
}

/* ACCENT COLOR */
.accentColor{
  color: #6beb2e;
}
.accentBgColor {
  background-color: #6beb2e;
}

.logo-wrapper{
/*  margin-left: auto;
  margin-right: auto;*/
  position: relative;
  height: 28px;
  width: 146px;
}

.dot{
  position: absolute;
  height: 8px;
  width: 8px;
  top: 21px;
  left: 106px;
  border-radius: 50%;
}

.song button{
  cursor: pointer;
  width: 120px;
}

.inline{
  display: inline-block;
  width: 180px;
}
.song button {
  cursor: pointer;
  width: 120px;
}

/* DROPDOWN */
.dropdown .dropdown-menu,
.dropdown .dropdown-panel {
  min-width: 125px;
  max-width: 125px;
  list-style: none;
  background: #181515; 
  border-radius: 0px;
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}

.dropdown.dropdown-tip {
  margin-top: 0px;
}

.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:after {
  left: auto;
  right: 10px;
}

/*font color*/
.dropdown .dropdown-menu LI > A,
.dropdown .dropdown-menu LABEL {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 18px;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
}

